{
  // "presets": [
  //   // "babel-preset-react-native-stage-0/decorator-support"
    
  // ],
  "presets": ["flow"],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  }
}